* {
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #eee;
    text-decoration: none;

}

    /* Utility */

    .btn {
        display: inline-block;
        font-size: 15px;
        color: white;
        background: #333;
        padding: 13px 18px;
        border: none;
    }

    .btn-light {
        background: rgb(255, 255, 255);
        color: #000;
    }

.btn:hover {
    background: orange;
    color: 333;
}

    /* Header */

#navbar {
    background: #333;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .container ul {
    display: flex;
    padding-right: 1rem;
}

#navbar .container ul li {
    list-style: none;
    
}

#navbar .container ul li a {
    padding: 20px;
    display: block;
}

#navbar .container h1 {
    text-transform: uppercase;
    padding-left: 1.5rem;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
    background: #555;
    color: orange;
}

    /* Section*/

#showcase .container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background: url('pane2.jpg') no-repeat center center/cover;
    justify-content: center;
    align-items: center;
}

#showcase .container h1 {
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
}

#showcase .container p {
    color: white;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.color-primary {
    color: orange;
}

/* Section 2 */

#orange-1 {
    color: orange;
}

#staccato-1 {
    text-align: center;
    margin: 15px;
}

#showcase-2 .container {
    display: flex;
    height: 450px;
}

#showcase-2 .container .image {
     background: url('3panini.jpg') no-repeat center center/cover;
     flex:1
}

#showcase-2 .container .section-text {
    display: flex;
    background: #333;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1
}

#showcase-2 .container .section-text h1 {
    padding-bottom: 20px;
}

#showcase-2 .container .section-text p {
    padding-bottom: 20px;
}

/* Section 3 */

#showcase-3 {
    display: flex;
    /* height: 300px; */
    align-items: center;
    text-align: center;
}

.box-white {
    background: #fff;
}

.box-orange {
    background: orange;
}

.box {
    flex: 1;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#showcase-3 i {
    padding-bottom: 20px;
}

#showcase-3 h3 {
    padding-bottom: 30px;
}

#footer {
    background: #333;
    padding: 45px 0;
    color: #fff;
    text-align: center;
}

#footer-2 {
    background: #333;
    padding: 15px 0;
    color: #fff;
    text-align: center;
}

#footer-info {
    background: #333;
    padding: 15px 0;
    color: #fff;
    text-align: center;
}

/* About info */

#about-info .container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

#about-info img {
    width: 75%;
    border-radius: 50%;
    margin: auto;
}

#about-info .info-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

#about-info .info-left p {
    width: 80%;
    padding-bottom: 1.5rem;
}

#about-info .info-left h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

#about-info .info-right {
    flex: 1;
    display: flex;
}


/* Testimonials */

#testimonials {
    height: 550px;
    padding-top: 100px;
    background: url('backround\ clienti.jpg') no-repeat center center/cover; 
}

#testimonials .testimonial img {
    width: 100px;
    border-radius: 50%;
}

#testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2.5rem;
}

#testimonials p {
    width: 80%;
}

#testimonials .testimonial {
    padding: 1.2rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    opacity: 0.9;
    background: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Contact */

#message {
    padding: 10px;   
}

#contact-form {
    padding: 2rem 5rem;
}

#contact-form h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

#contact-form p {
    padding-bottom: 1rem;
}

#contact-form button {
    margin-top: 1rem;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form input,
#contact.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
}

#contact-form label {
    margin-bottom: 5px;
    display: block;
}

#contact-form textarea {
    height: 180px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: orange;
}

/* Contact info */

#contact-info  {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    background: #222;
    color: #fff;
    align-items: center;
    text-align: center;
}

  
#contact-info i,
#contact-info h3 {
    margin-bottom: 1rem;
}